@import 'basics';

// media queries
@include media($breakpoint) {
  .container {
    background-image: url('/images/bg-mobile.svg');
    background-size: 100%;
    justify-content: unset;
    padding: 8vw;
  }

  .logo img {
    width: clamp(10rem, 50vw, 14rem);
  }

  .main {
    flex-direction: column;
    margin-top: 4rem;

    img {
      margin: 0 auto;
      width: clamp(.5rem, 100%, 28rem);
    }
  }

  .call {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 4rem;

    h1 {
      font-size: 1.6rem;
      line-height: unset;
      max-width: unset;
    }
  }

  .btn {
    font-size: .9rem;
    margin-top: 2rem;
    width: 70%;
    min-width: unset;
    max-width: 20rem;
  }

  .footer {
    justify-content: center;
    margin-top: 4rem;
  }
}
